<% @events.each do |event| %>
  <% if current_user.id == event.user_id %>
    <ul>
      <li class='list'>
        <%= link_to event_path(event.id) do %>

        <div class=''>
          <h6 class=''>
            <%= event.last_name_kana %> <%= event.first_name_kana %>
          </h6>
        </div>

        <div class=''>
          <h3 class=''>
            <%= event.last_name %> <%= event.first_name %>
          </h3>
      </div>

        <div class=''>
          <h4 class=''>
            <% if event.anniversary_name.present? %>
              <%= event.anniversary_name %>
            <% else %>
              <%= event.category.name %>
            <% end %>
            <%= event.anniversary_date.year %>年
            <%= event.anniversary_date.month %>月
            <%= event.anniversary_date.day %>日
          </h4>
        </div>

        <div class=''>
          <h4 class=''>
          <% if event.category_id == 2 %>
            次回で<%= anniversary_times_calc %>歳の誕生日
          <% else %>
            次回で<%#= (Date.today.strftime("%Y%m%d").to_i – Date.parse(event.anniversary_date).strftime("%Y%m%d").to_i) / 10000  %>回目の記念日
          <% end %>
          </h4>
        </div>

        <% end %>
      </li>
    </ul>
  <% end %>
<% end %>